body {
  font-family: "Josefin Sans", sans-serif;
}

.bar {
  background-color: #bb8e62;
}

.top {
  margin-: 0;
  padding-top: 10%;
  font-size: smaller;
  text-align: center;
  color: #bb8e62;
}

.top1 {
  text-align: left;
  padding: 10%;
  font-size: small;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

.h-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.h-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/hero.jpeg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #121c26;
  filter: opacity(90%);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn {
  background-color: #bb8e62;
}

.home {
  width: 100%;
  height: 60vh;
  position: relative;
}

.home1 {
  width: 100%;
  height: 100%;
}

.home2 {
  width: 80%;
  position: absolute;
  top: 50px;
  left: 10%;
  margin: 2rem auto;
}

.home3 {
  width: 70%;
  position: absolute;
  top: 200px;
  right: -20%;
  z-index: 1;
}

.home-droite {
  background-color: rgba(187, 142, 98, 0.1);
  padding-left: 10%;
  padding-top: 10%;
}

.contact {
  background-color: #bb8e62;
  width: 85%;
  height: 30px;
  text-align: center;
  justify-items: center;
}

.house {
  padding-left: 10%;
  padding-top: 10%;
}

.img-house {
  width: 100%;
  position: relative;
}

.h-house {
  width: 65%;
  height: 12%;
  text-align: center;
  justify-items: center;
}

.p-house {
  width: 85%;
  background-color: rgba(187, 142, 98, 0.1);
}

.foot {
  display: flex;
  text-align: center;
  padding-top: 10%;
  font-size: x-small;
  width: 100%;
}

.foot1 {
  font-size: xx-small;
  width: 100%;
}
